
flask==3.0.3
flask-cors==4.0.1
flask-socketio==5.3.6
flask-bcrypt==1.0.1
pymongo==4.7.3
python-dotenv==1.0.1
PyJWT==2.8.0
pytesseract==0.3.10
Pillow==10.3.0
deepface==0.0.92
networkx==3.3
numpy==1.26.4
requests==2.32.3
eventlet==0.36.1
pytest==7.4.2
mongomock==4.1.4